/* Colores */
$colorPrincipal: #fff1e2; /*Fondo principal o header*/
$colorSecundario: #dd621f; /*Texto secundario o fondos suaves*/
$colorTerciario: #e4d469; /*Enlaces o hover*/
$colorCuaternario: #837d55; /*Detalles, íconos, botones destacados*/
$colorQuinto: #e0f2eb; /*Bordes o contraste suave*/
$colorTexto: #0f1412; /*Texto principal*/
