@use "./colors" as *;
@use "./variables" as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-left {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin h2 {
  text-align: center;
  font-size: $h2D;
  margin-bottom: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-weight: 600;
}

@mixin h3 {
  text-align: center;
  font-size: $h3D;
  margin-bottom: 15px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

@mixin h4 {
  text-align: center;
  font-size: $h4D;
  margin-bottom: 15px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

@mixin button {
  @include flex-center;
  gap: 20px;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  width: auto;
  &:hover {
    transform: scale(1.05) translateY(-2px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    background-color: $colorTerciario;
    cursor: pointer;
  }
}

@mixin home-section {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: calc(100vh - 110px);
}

@mixin section-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba($colorPrincipal, 0.3);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 9999;
  overflow-y: auto;
  padding: 2rem 1rem;
  @include flex-center;
  align-items: flex-start;
}

@mixin modal-content {
  background: #e5e5e5;
  border-radius: 12px;
  padding: 2rem;
  width: 90%;
  position: relative;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  animation: modalFade 0.25s ease;
}

@mixin card-style(
  $bg: white,
  $shadow: 0 4px 12px rgba(0, 0, 0, 0.1),
  $radius: 12px,
  $padding: 16px
) {
  background: $bg;
  box-shadow: $shadow;
  border-radius: $radius;
  padding: $padding;
}
