@use "./colors" as *;
@use "./variables" as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-left {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin h2 {
  text-align: center;
  font-size: $h2D;
  margin-bottom: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-weight: 600;
}

@mixin h3 {
  text-align: center;
  font-size: $h3D;
  margin-bottom: 15px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

@mixin h4 {
  text-align: center;
  font-size: $h4D;
  margin-bottom: 15px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

@mixin button {
  @include flex-center;
  gap: 20px;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  width: auto;
  &:hover {
    transform: scale(1.05) translateY(-2px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    background-color: $colorTerciario;
    cursor: pointer;
  }
}

@mixin home-section {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: calc(100vh - 100px);
  min-height: 600px;
}

@mixin section-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba($colorPrincipal, 0.3);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
