@use "../colors" as *;
@use "../variables" as *;
@use "../mixins" as *;

.card {
  position: relative;
  @include flex-column;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  @include card-style(white, 0 4px 12px rgba(0, 0, 0, 0.1), 12px, 24px);
  transition: $transition-base;

  .card-content {
    @include flex-column;
    gap: 0.5rem;
    background-color: white;
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    .card-description {
      @include flex-column;
      gap: 10px;
      justify-content: center;
      margin-bottom: 15px;
      h4 {
        @include h4;
      }
      p {
        font-weight: 600;
      }
      .marca {
        color: grey;
        text-transform: uppercase;
      }
    }
    .counter {
      @include flex-center;
      margin-bottom: 20px;
      gap: 15px;

      .btnAdd {
        background: $colorPrincipal;
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;
        font-weight: 600;
        &:hover {
          background: $colorTerciario;
        }
      }

      .box {
        text-align: center;
        padding: 10px 18px;

        border-radius: 5px;
        border: 1px solid $colorTexto;
      }
    }
    .btn {
      @include button;
    }
  }
}
