@use "../colors" as *;
@use "../variables" as *;
@use "../mixins" as *;

.footer {
  @include flex-column;
  background: $colorPrincipal;
  color: $colorTexto;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba($colorTexto, 0.1);
  .footer-links {
    @include flex-between;
    width: 80%;
    gap: 80px;
    margin-bottom: 25px;
    a {
      color: $colorTexto;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
