@use "../colors" as *;
@use "../variables" as *;
@use "../mixins" as *;

.input-group {
  width: 100%;
  .input-label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: $colorTexto;
  }
  .input-field {
    width: 100%;
    padding: 0.75rem 1rem;
    border: none;
    outline: none;
    background: transparent;

    border-radius: 8px;
    font-size: 1rem;
    transition:
      border-color 0.2s,
      box-shadow 0.2s;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .input-field .input-error {
    border-color: #dc3545;
    &:focus {
      border-color: #dc3545;
      box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.25);
    }
  }
  .input-error-message {
    display: block;
    margin-top: 4px;
    font-size: 14px;
    color: #dc3545;
  }
}
