@use "../colors" as *;
@use "../variables" as *;
@use "../mixins" as *;

.admin-login {
  @include flex-column;
  height: 100vh;
  gap: 30px;
}

.login-form {
  background: rgba(255, 255, 255, 0.418);
  backdrop-filter: blur(12px);
  padding: 24px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-width: 500px;
  @include flex-column;
  gap: 25px;
  .login-title {
    font-size: 2.8em;
    font-weight: 600;
    text-align: center;
    color: #333;
    margin-bottom: 10px;
  }
  .input-login {
    .input-field {
      border: 1px solid #ccc;
      &:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
      }
    }
  }
  .login-button {
    width: 100%;
    background-color: #d4af37;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: $transition-base;
    &:hover {
      background-color: #856e22;
    }
    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}
