@use "../colors" as *;
@use "../variables" as *;
@use "../mixins" as *;

/* Search Bar */

.search {
  @include flex-center;
  gap: 12px;
  background: $colorPrincipal;
  padding: 14px 18px;
  border-radius: 999px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  .input-field {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    background: transparent;
  }
  .search-btn {
    background: $colorPrincipal;
    color: $colorTexto;
    padding: 10px 18px;
    border-radius: 999px;
    cursor: pointer;
    &:hover {
      background: $colorTerciario;
    }
  }
}
