@use "./sass/colors" as *;
@use "./sass/variables" as *;
@use "./sass/mixins" as *;
@use "./sass/components/navbar";
@use "./sass/components/footer";
@use "./sass/components/home";
@use "./sass/components/input";
@use "./sass/components/login";
@use "./sass/components/admin";
@use "./sass/components/table";
@use "./sass/components/modal";
@use "./sass/components/card";
@use "./sass/components/searchbar";

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  box-sizing: border-box;
  color: $colorTexto;
}

html,
body {
  height: 100%;
}

body {
  background-color: $colorPrincipal;
  overflow-y: auto;
}

/* Prod destacados */

.featured-cards {
  @include flex-column;
  gap: 20px;
  margin-bottom: 20px;
}

.slider {
  @include flex-center;
  width: 1200px;
}
